<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=0.9, user-scalable=no">

<link rel="preconnect" href="//cdnjs.cloudflare.com">
<link rel="preconnect" href="//fonts.googleapis.com">
<link rel="preconnect" href="//fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="//mixerno.space">
<link rel="preconnect" href="//backend.mixerno.space">
<link rel="preconnect" href="//api.subscribercounter.nl">

<link rel="icon" type="image/png" href="//falchus.com/logo">
<title>Social Counts - Falchus.com</title>
<meta property="og:title" content="Social Counts">
<meta property="og:type" content="article">
<meta property="og:description" content="Social Counts is the easiest way to view the live subscriber count for any influencer on the planet! Simply enter the channel name, or ID and you are good to go!">
<meta property="og:site_name" content="Falchus.com">

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,600,700&display=swap">
<link rel="stylesheet" href="/social-counts/assets/css/odometer-theme-custom.css">
<link rel="stylesheet" href="/social-counts/assets/css/style.css">
<link rel="stylesheet" href="/social-counts/assets/css/colors/light.css" id="theme">