<header class="topbar">
    <nav class="navbar top-navbar navbar-toggleable-sm navbar-light">
        <div class="navbar-header">
            <a class="navbar-brand" href="/social-counts/">
                <img class="img-responsive" src="//falchus.com/logo" width="64" height="64">
                <span class="text-white">
                    Social Counts
                </span>
            </a>
        </div>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto mt-md-0">
                <li class="nav-item">
                    <a class="nav-link nav-toggler hidden-md-up text-muted"
                       href="javascript:void(0)">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
            </ul>
            <form class="mx-2 my-auto d-inline w-100" id="search">
                <div class="input-group">
                    <input type="text" class="form-control form-control" placeholder="Search"
                       id="searchvalue" autocomplete="off">
                    <span class="input-group-btn">
                        <button class="btn btn-success" type="button" id="searchbutton">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </form>
        </div>
    </nav>
</header>