<aside class="left-sidebar">
    <div class="scroll-sidebar">
        <nav class="sidebar-nav">
            <ul class="sidebarnav">
                <li class="nav-small-cap">YouTube</li>
                <li>
                    <a class="waves-effect waves-dark" href="/social-counts/">
                        <i class="fa fa-user"></i>
                        <span class="hide-menu">Subscriber Count</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/social-counts/compare/">
                        <i class="fa fa-chart-bar"></i>
                        <span class="hide-menu">Compare Multiple</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/social-counts/view-count/">
                        <i class="fa fa-eye"></i>
                        <span class="hide-menu">View Count</span>
                    </a>
                </li>

                <li class="nav-small-cap">TikTok</li>
                <li>
                    <a class="waves-effect waves-dark" href="/social-counts/tiktok/">
                        <i class="fa fa-user"></i>
                        <span class="hide-menu">Subscriber Count</span>
                    </a>
                </li>
                <li>
                    <a class="waves-effect waves-dark" href="/social-counts/tiktok/compare/">
                        <i class="fa fa-chart-bar"></i>
                        <span class="hide-menu">Compare Multiple</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>