* {
  padding: 0;
  margin: 0;
  background: transparent !important;
  color: black !important;
}

#root {
  width: 100%;
  height: 100%;
}

#root > .container {
  float: left;
  overflow: hidden;
}

#root .image {
  position: relative;
  float: left;
}

.sec:not(.counter) {
  position: relative;
  margin-top: 5px;
}

.sec:not(.counter) #name {
  margin-bottom: 5px;
}

.counter {
  position: relative;
}

.counter h1 {
  font-weight: 600;
}

[hidden] {
  display: none;
}